<!DOCTYPE html>
<html>
<head>
  <title>HerokuConfigVars</title>
  <%= stylesheet_link_tag    "heroku_config_vars/application", :media => "all" %>
  <%= javascript_include_tag "heroku_config_vars/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
